body {
	background-color: #171c26;	/* Fondo morado oscuro */
	color: #ffffff; /* Texto en blanco */
	font-family: Arial, sans-serif; /* Fuente de texto */
}
.box1 {
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 8px;
	margin-right: 30px;
	padding: 10px;
	margin-right: 50px;
	background-color: #4b0082;
	width: 300px;
	text-align: center;		
}

.bkg {
	width: 40%;
  	margin-right: 10px;
	float: left;
	padding: 10px;
}

.desc {
	position: absolute;
	top: 25%;
	left: 50%;	
	margin-left: 50px;
	padding: 15px;
	line-height: 3;
	color: aqua;
}

.box1:hover {
	cursor: pointer;
	background-color:#6610f2;	
}

.title:hover {
	text-decoration: underline;
	text-decoration-color: greenyellow;
	text-decoration-thickness: 5px;
}

.writeups {
	margin-right: 20px;
	margin-left: 50px;
	padding-left: 20px;
	padding-right: 15px;
	border: solid blue 5px;
}

.imgw {
	width: 100;
	padding: 20px
	;
}

